@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Testing Email Service</p>
<a asp-action="SendEmailAsync" asp-controller="Services" asp-route-toEmail="user@example.com" asp-route-subject="Test Subject" asp-route-message="Test Message">Test Email</a>