@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">DnDesigner</h1>
    <p>The only character sheet you'll ever need for Dungeons and Dragons 5th Edition</p>
    <hr />

    <h2 class="display-5">New Here?</h2>
    <p>Log in to start making your characters</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Characters" asp-action="Create">Get Started</a>
    <hr />

    <h2 class="display-5">Want to contribute?</h2>
    <p>This is an open source project, if you want to help make it better, check out our <a href="https://github.com/NullPointer1331/DnDesigner">github</a></p>
</div>
