@model DnDesigner.Models.Character

@{
    ViewData["Title"] = Model.Name + " Character Sheet";
}

<h1>@Model.Name</h1>
<h2>@Model.Level 
    @foreach(CharacterClass Class in Model.Classes)
    {
        @Html.DisplayFor(Model => Class.Class.Name)
        if(Class.Subclass != null)
        {
            @Html.DisplayFor(Model => Class.Subclass.Name)
        }
    }
</h2> 

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CharacterSheet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CharacterId" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Level" />
            <div class="form-group">
                <label asp-for="ProficiencyBonus" class="control-label"></label>
                <input asp-for="ProficiencyBonus" class="form-control" disabled/>
                <span asp-validation-for="ProficiencyBonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHealth" class="control-label"></label>
                <input asp-for="MaxHealth" class="form-control" disabled/>
                <span asp-validation-for="MaxHealth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentHealth" class="control-label"></label>
                <input asp-for="CurrentHealth" class="form-control" />
                <span asp-validation-for="CurrentHealth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempHealth" class="control-label"></label>
                <input asp-for="TempHealth" class="form-control" />
                <span asp-validation-for="TempHealth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableHitDice" class="control-label"></label>
                <input asp-for="AvailableHitDice" class="form-control" />
                <span asp-validation-for="AvailableHitDice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HitDieType" class="control-label"></label>
                <input asp-for="HitDieType" class="form-control" />
                <span asp-validation-for="HitDieType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WalkingSpeed" class="control-label"></label>
                <input asp-for="WalkingSpeed" class="form-control" />
                <span asp-validation-for="WalkingSpeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strength" class="control-label"></label>
                <input asp-for="Strength" class="form-control" />
                <span asp-validation-for="Strength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dexterity" class="control-label"></label>
                <input asp-for="Dexterity" class="form-control" />
                <span asp-validation-for="Dexterity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Constitution" class="control-label"></label>
                <input asp-for="Constitution" class="form-control" />
                <span asp-validation-for="Constitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intelligence" class="control-label"></label>
                <input asp-for="Intelligence" class="form-control" />
                <span asp-validation-for="Intelligence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wisdom" class="control-label"></label>
                <input asp-for="Wisdom" class="form-control" />
                <span asp-validation-for="Wisdom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charisma" class="control-label"></label>
                <input asp-for="Charisma" class="form-control" />
                <span asp-validation-for="Charisma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resistances" class="control-label"></label>
                <input asp-for="Resistances" class="form-control" />
                <span asp-validation-for="Resistances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Immunities" class="control-label"></label>
                <input asp-for="Immunities" class="form-control" />
                <span asp-validation-for="Immunities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vulnerabilities" class="control-label"></label>
                <input asp-for="Vulnerabilities" class="form-control" />
                <span asp-validation-for="Vulnerabilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save and exit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Exit without saving</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
