@model CreateCharacterViewModel
@inject IDBHelper DBHelper

@{
    ViewData["Title"] = "Create a Character";
}

<h1>Create a Character</h1>

<hr />
<div >
    <form asp-action="Create">
        @{await Html.RenderPartialAsync("_CharacterCreationPartial", Model);}
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <input type="button" value="Cancel" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Characters")'" />
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/characterCreate.js"></script>
    <script type="text/javascript">
        const Model = @Html.Raw(Json.Serialize(Model));
        var numClasses = 1;
    </script>
}
